<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}


{% block title %}Login{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/logo-logistik.png' %}" alt="" width="106" height="106">
    <!--<img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" alt="" width="72" height="57">-->
    
    <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
    <!--
        name="username" == {{ form.usernae}}
        name="password" == {{ form.password}}
    -->
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 - {% now 'Y' %}</p>
</form>
{% endblock %}