<header class="navbar navbar-expand-md navbar-dark bd-navbar">

    <nav class="container-xxl flex-wrap flex-md-nowrap">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" stroke="#fff"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                viewBox="0 0 24 24">
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
            </svg>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
            aria-controls="bdNavbar" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="bi" fill="currentColor"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="bdNavbar">
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2 " href="">Dashboard</a>
                </li>
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2 active" href="">Assets</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2" href="">Maintenance</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2" href="">Supplies</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2" href="">Reports</a>
                </li>
                {% endif %}
            </ul>

            <hr class="d-md-none text-white-50">

            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                {% if user.is_authenticated %}
                <li class="nav-item col-6 col-md-auto">
                    <a class="nav-link p-2" href="">Help</a>
                </li>
                {% endif %}
            </ul>


        </div>
    </nav>
</header>