{% extends 'assets/base.html' %}
{% load static %}




{% block asside %}
<li>
    <a href="" class="d-inline-flex align-items-center rounded active">
        Vehicles
    </a>
</li>
<li>
    <a href="" class="d-inline-flex align-items-center">
        Trollies
    </a>
</li>
<li>
    <a href="" class="d-inline-flex align-items-center">
        Equipment
    </a>
</li>
<li>
    <a href="" class="d-inline-flex align-items-center">
        Tools
    </a>
</li>
{% endblock %}


{% block content %}
<div class="row">
<h3>Link Logistic Tractor Fleet</h3>
</div>
{% endblock%}